[hub]
  protocol = https

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[core]
  excludesfile = /opt/boxen/config/git/gitignore
  editor = vim

[user]
  name = John Colvin
  email = colvin.john@gmail.com

[push]
  default = simple

[alias]
  amend = commit --amend -C HEAD
  b = branch
  c = commit
  co = checkout
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  d = diff
  f = commit --fixup
  fix = commit --fixup
  jedi = push --force-with-lease origin HEAD
  l = log --pretty=oneline --abbrev-commit
  put = push origin HEAD
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  s = rebase -i --autosquash
  squash = rebase -i --autosquash
  st = status
  up = !git pull -r origin $(git symbolic-ref --short HEAD)

[gitsh]
  prompt = %c%b%w
