[hub]
  protocol = https

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[core]
  excludesfile = /opt/boxen/config/git/gitignore
  editor = subl3 -w

[user]
  name = John Colvin
  email = colvin.john@gmail.com

[push]
  default = simple

[alias]
  st = status
  co = checkout
  d = diff
  l = log --pretty=oneline --abbrev-commit
  b = branch
  cp = cherry-pick
  r = rebase
  amend = commit --amend -C HEAD
  fix = commit --fixup
  jedi = push --force-with-lease origin HEAD
  put = push origin HEAD
  squash = rebase -i --autosquash
  up = pull -r
