"*":
  autosave:
    enabled: true
  core:
    openEmptyEditorOnStart: false
  editor:
    fontSize: 12
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "037b5cab-946f-3b30-b776-28fcb6c15834"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
